<div style="height:60px;" class="hidden-xs hidden-sm hidden-md"></div>
<div style="height:18px;" class="hidden-lg"></div>

<blockquote class="well">
    <footer><a href="./#/level/{{lid}}">Level {{lid}}</a></footer>
    <div class="row">
        <div class="col-md-9">
            <h3 style="margin:10px 0px 0px 0px;padding:0px">
                Lesson {{lsn}}
                <span ng-click="showUnits = !showUnits" style="padding:2px 8px 2px 8px;position:relative;top:-2px" class="btn btn-default">></span>
                <m ng-show="showUnits == true">
                    <n ng-repeat="l in lessons">
                        <a ng-class="{lesLinks: ($index+1) != uid}" href="./#/level/{{lid}}/{{$index+1}}">{{$index+1}}</a>
                    </n>
                </m>
            </h3>
        </div>
        <div class="col-md-3 hidden-xs hidden-sm hidden-md">
            <p class="pull-right">
                <button style="top:-10px" ng-click="navUnit(false)" ng-show="lsn>1" class="btn btn-default" aria-hidden="true">
                    <span class="glyphicon glyphicon-menu-left"></span>
                </button>
                <button style="top:-10px" ng-click="navUnit(true)" ng-show="lsn<lsnCount" class="btn btn-default" aria-hidden="true">
                    <span class="glyphicon glyphicon-menu-right"></span>
                </button>
                <button style="top:-10px" ng-click="goDown(true)" ng-show="lsn<lsnCount" class="btn btn-default" aria-hidden="true">
                    <span class="glyphicon glyphicon-menu-down"></span>
                </button>
            </p>
        </div>
    </div>
</blockquote>



<!--Table desktop version-->
<div class="table-responsive hidden-xs hidden-sm hidden-md">
    <table class="table table-striped table-condensed table-hover">
        <thead>
            <tr>
                <th width="30">No.</th>
                <th class="col-md-4 col-sm-5 text-right">English</th>
                <th class="col-md-1 col-sm-1 text-center">
                    <span class="glyphicon glyphicon-retweet"></span></th>
                <th class="col-md-7 col-sm-5">
                    Japanese | <a ng-click="showHide(false)">Hide All</a> | <a ng-click="showHide(true)">Show All</a>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="phrase in unitData | filter: searchFilter">
                <td class="vert-align well">{{$index+1}}.</td>
                <!--<td class="vert-align text-right"><a href="./#/level/{{lid}}/unit/{{uid}}/{{$index}}">{{phrase.English}}</a></td>-->
                <td class="vert-align text-right">{{phrase.English}}</td>
                <td class="vert-align text-center">
                    <button class="btn btn-default" ng-click="enabled[$index] = !enabled[$index]">
                        <span class="glyphicon" ng-class="enabled[$index] ? 'glyphicon-eye-close': 'glyphicon-eye-open'"></span>
                    </button>
                </td>
                <!--<td class="vert-align"><a ng-show="enabled[$index]" href="./#/level/{{lid}}/unit/{{uid}}/{{$index}}">{{phrase.Japanese}}</a></td>-->
                <td class="vert-align">
                    <b ng-show="enabled[$index]">{{phrase.Japanese}}</b>
                    <c style="font-size:11px" ng-hide="enabled[$index]">{{hideTxt(phrase.Japanese)}}</c>
                </td>
            </tr>
        </tbody>
    </table>
</div>


<!--hide down show mobile group-->
<div class="hidden-lg">
    <div class="btn-group btn-group-justified" role="group" aria-label="LBL">
        <div class="btn-group" role="group">
            <span class="glyphicon glyphicon-eye-close btn btn-default" ng-click="showHide(false)"></span>
        </div>
        <div class="btn-group" role="group">
            <div class="container-flexible">
                <span class="glyphicon glyphicon-menu-down btn btn-default" ng-click="goDown(true)"></span>
            </div>
        </div>
        <div class="btn-group" role="group">
            <span class="glyphicon glyphicon-eye-open btn btn-default" ng-click="showHide(true)"></span>
        </div>
    </div>
</div>

<!--Table mobile version-->
<div class="hidden-lg">
    <table class="table table-responsive  table-striped table-condensed table-hover">
        <thead>
            <tr>
                <th>Phrases</th>
                <th width="46px" class="text-center">
                    <span class="glyphicon glyphicon-retweet"></span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="phrase in unitData | filter: searchFilter">
                <td class="vert-align" style="word-break:break-all;">
                    {{phrase.English}}<br>
                    <b style="word-break:break-all;" ng-show="enabled[$index]">{{phrase.Japanese}}</b>
                    <c style="font-size:11px" ng-hide="enabled[$index]">{{hideTxt(phrase.Japanese)}}</c>
                </td>
                <td class="vert-align well">
                    <button class="noselect btn btn-default" style="width:45px;"
                        ng-click="enabled[$index] = !enabled[$index]"><span class="glyphicon" ng-class="enabled[$index] ? 'glyphicon-eye-close': 'glyphicon-eye-open'"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!--previous up next group-->
<div>
    <div class="btn-group btn-group-justified" role="group" aria-label="LBL">
        <div class="btn-group" role="group" ng-show="lsn>1">
            <button type="button" class="btn btn-default" ng-click="navUnit(false)">
                <span class="glyphicon glyphicon-menu-left"></span>
            </button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" ng-click="goDown(false)">
                <span class="glyphicon glyphicon-menu-up"></span>
            </button>
        </div>
        <div class="btn-group" role="group" ng-show="lsn<lsnCount">
            <button type="button" class="btn btn-default" ng-click="navUnit(true)">
                <span class="glyphicon glyphicon-menu-right"></span>
            </button>
        </div>
    </div>
</div>

<div style="height:60px; "></div>